In [1]:
# Import libraries
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns

In [2]:
## Combine Test&Train Data 
test_df=pd.read_csv('final_test_data.csv')
train_df=pd.read_csv('final_train_data.csv')

In [3]:
final_df=pd.concat([test_df,train_df],axis=0)

D:\AnanacondaInstalledFolder\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [4]:
final_df.shape

(2919, 74)

In [6]:
final_df1=final_df
final_df1.shape

(2919, 74)

In [7]:
# Extracting categorical features(object type for our NEW_DF)
CAT_DF = final_df1.select_dtypes(exclude=["int64","float64"])
CAT_DF.head()

,BldgType,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,BsmtQual,CentralAir,Condition1,Condition2,Electrical,...,MSZoning,MasVnrType,Neighborhood,PavedDrive,RoofMatl,RoofStyle,SaleCondition,SaleType,Street,Utilities
0,1Fam,TA,No,Rec,LwQ,TA,Y,Feedr,Norm,SBrkr,...,RH,None,NAmes,Y,CompShg,Gable,Normal,WD,Pave,AllPub
1,1Fam,TA,No,ALQ,Unf,TA,Y,Norm,Norm,SBrkr,...,RL,BrkFace,NAmes,Y,CompShg,Hip,Normal,WD,Pave,AllPub
2,1Fam,TA,No,GLQ,Unf,Gd,Y,Norm,Norm,SBrkr,...,RL,None,Gilbert,Y,CompShg,Gable,Normal,WD,Pave,AllPub
3,1Fam,TA,No,GLQ,Unf,TA,Y,Norm,Norm,SBrkr,...,RL,BrkFace,Gilbert,Y,CompShg,Gable,Normal,WD,Pave,AllPub
4,TwnhsE,TA,No,ALQ,Unf,Gd,Y,Norm,Norm,SBrkr,...,RL,None,StoneBr,Y,CompShg,Gable,Normal,WD,Pave,AllPub

In [10]:
CAT_DF1=CAT_DF

In [12]:
CAT_DF2=pd.get_dummies(CAT_DF1,drop_first=True)
CAT_DF2.shape

(2919, 196)

In [13]:
# Extracting features expect the categorical features
NUM_DF = final_df1.select_dtypes(exclude=["object"])
NUM_DF.shape

(2919, 36)

In [30]:
final_df1=pd.concat([NUM_DF,CAT_DF2],axis=1)
final_df1.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,SaleType_CWD,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,Street_Pave,Utilities_NoSeWa
0,896,0,0,2,468.0,144.0,0.0,0.0,270.0,0,...,0,0,0,0,0,0,0,1,1,0
1,1329,0,0,3,923.0,0.0,0.0,0.0,406.0,0,...,0,0,0,0,0,0,0,1,1,0
2,928,701,0,3,791.0,0.0,0.0,0.0,137.0,0,...,0,0,0,0,0,0,0,1,1,0
3,926,678,0,3,602.0,0.0,0.0,0.0,324.0,0,...,0,0,0,0,0,0,0,1,1,0
4,1280,0,0,2,263.0,0.0,0.0,0.0,1017.0,0,...,0,0,0,0,0,0,0,1,1,0

In [83]:
final_df1.shape

(2919, 232)

In [94]:
df_Train=final_df1.iloc[1459:,:]
df_Train.shape

(1460, 232)

In [100]:
df_Test=final_df1.iloc[:1459,:]
df_Test.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,SaleType_CWD,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,Street_Pave,Utilities_NoSeWa
0,896,0,0,2,468.0,144.0,0.0,0.0,270.0,0,...,0,0,0,0,0,0,0,1,1,0
1,1329,0,0,3,923.0,0.0,0.0,0.0,406.0,0,...,0,0,0,0,0,0,0,1,1,0
2,928,701,0,3,791.0,0.0,0.0,0.0,137.0,0,...,0,0,0,0,0,0,0,1,1,0
3,926,678,0,3,602.0,0.0,0.0,0.0,324.0,0,...,0,0,0,0,0,0,0,1,1,0
4,1280,0,0,2,263.0,0.0,0.0,0.0,1017.0,0,...,0,0,0,0,0,0,0,1,1,0

In [103]:
df_Test.drop(['SalePrice'],axis=1,inplace=True)

D:\AnanacondaInstalledFolder\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [104]:
X_train=df_Train.drop(['SalePrice'],axis=1)
y_train=df_Train['SalePrice']

In [105]:
import xgboost
classifier=xgboost.XGBRegressor()
classifier.fit(X_train,y_train)

[01:16:52] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1)

In [106]:
import pickle
filename = 'finale_model.pkl'
pickle.dump(classifier, open(filename, 'wb'))

In [107]:
y_pred=classifier.predict(df_Test)

In [108]:
##Create Sample Submission file and Submit
pred=pd.DataFrame(y_pred)
sub_df=pd.read_csv('sample_submission.csv')
datasets=pd.concat([sub_df['Id'],pred],axis=1)
datasets.columns=['Id','SalePrice']
datasets.to_csv('sample_submission.csv',index=False)